/* YOUR CUSTOM STYLES */

@import url('https://fonts.googleapis.com/css?family=Oswald|Droid+Sans|Lato:300,400,400i,700,900');

body {
	font-family: 'Lato', sans-serif;
	background: #fafafa;
	overflow: visible;
}

h1 {
	font-family: 'Lato', sans-serif;
	color: #d1004e;
	font-size: 2.3em;
	margin-bottom: 20px;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #d1004e;
	font-size: 1.8em;
	margin: 15px 0;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #78153d;
	font-size: 1.75em;
	margin-bottom: 10px;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #78153d;
	font-size: 1.5em;
	margin-bottom: 10px;
}

h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	margin-bottom: 10px;
}

a {
	text-decoration: underline;
}
hr {
	border-width: 2px;
	margin-bottom: 30px;
}
ol {
	font-weight: 400;
}
.container-fluid {
	padding: 0;
	overflow: hidden;
}
.container {
	max-width: 1170px;
	padding: 15px;
}
/*********************
  Button Styles
**********************/

.btn {
  text-decoration: none;
}

/******************
   Intro Page styles
******************/
#intro {
	max-width: 1170px;
	min-height: 850px;
	background-color: #ffffff;
}
.intro {
	min-height: 400px;
	position: absolute;
	top: 200px;
	left: 50px;
	/*margin-top: -500px;
	margin-left: 30px;*/
}
#intro img {
	width: 100vw;
	height: 100vh;
	max-height: 800px;
	object-fit: cover;
-webkit-clip-path: inset(0 0 0 20%);
clip-path: inset(0 0 0 20%);
}
.intro p.heading, .intro h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	line-height: 1.2em;
	color: #f1f1f1;
	text-align: right;
	padding: 10px 5px 0 0;
	margin-bottom: 10px;
}
.intro p {
	color: #f1f1f1;
	font-size: 1em;
	line-height: 1.3em;
}
.intro h1 {
	margin-top: -30px;
	font-size: 1.3em;
}
.intro .outcomes {
	position: relative;
	bottom: 10px;
	color: #f1f1f1;
	padding: 5px;
	width: 200px;
	height: 30px;
	margin: 30px auto 15px;
	text-align: center
}
#intro .footer {
	padding: 7px 10px 0 10px;
	background: #d1004e;
	color: white;
	overflow: visible;
}


/*********************
  Custom Colour Mixins
**********************/
.prime-bg {
  background-color: #201a30;
}
.row .col-xs-12.col-sm-12 .col-xs-12.col-sm-12.col-md-4.prime-bg.intro.z-depth-0 {
}

.second-bg {
  background-color: #3d163b;
}

.third-bg {
  background-color: #5e1944;
}

.fourth-bg {
  background-color: #78153d;
}
.accent-1 {
  background-color: #add1e8;
}
.accent-2 {
  background-color: #71ff30;
}
.accent-3 {
  background-color: #d1004e;
}
.accent-4 {
  background-color: #FF3F91;
}
.text-prime {
  color: #201a30;
}

.text-second {
  color: #3d163b;
}

.text-third {
  color: #5e1944;
}

.text-fourth {
  color: #78153d;
}

.text-accent-1 {
  color: #add1e8;
}

.text-accent-2 {
  color: #71ff30;
}

.text-accent-3 {
  color: #d1004e;
}

.text-accent-4 {
  color: #FF3F91;
}

/*********************
  Header Styles
**********************/
header {
	padding: 0;
	margin: 0;
}
header#main01, header#h07-02-img, header#h07-03-img, header#h07-04-img, header#practice, header#textEdit {
	background-image: url(../module_01/images/header1.jpg);
	background-size: cover;
	background-position: center;
	height: 375px;
}
header#h07-02-img {
	background-image: url(../module_07/images/presenting.jpg);
	background-position: 0 75px;
}
header#h07-03-img {
	background-image: url(../module_07/images/informal_report_poll.jpg);
}
header#h07-04-img {
	background-image: url(../module_07/images/headings.jpg);
	background-position: 0 -100px;
}
header#practice {
	background-image: url(../module_07/images/practice_heading.jpg);
}
header#textEdit {
	background-image: url(../module_07/images/text_edit_heading.jpg);
}
.header {
	padding: 20px 10px 10px 50px;
	max-height: 129px;
}

.headerMod {
	position: absolute;
	top: 0;
		left: 30px;
	background-color: #ff3f91;
	height: 40px;
	width:120px;
}

.header p {
	font-family: 'Oswald', sans-serif;
	font-size: 2.75em;
	padding-left: 50px;
	margin-top: 20px;
}

.headericon {
	text-shadow: rgb(148, 33, 33) 0px 0px 0px, rgb(152, 34, 34) 1px 1px 0px, rgb(157, 35, 35) 2px 2px 0px, rgb(161, 36, 36) 3px 3px 0px, rgb(166, 37, 37) 4px 4px 0px, rgb(170, 38, 38) 5px 5px 0px, rgb(175, 39, 39) 6px 6px 0px, rgb(179, 40, 40) 7px 7px 0px, rgb(184, 41, 41) 8px 8px 0px, rgb(188, 42, 42) 9px 9px 0px, rgb(193, 43, 43) 10px 10px 0px, rgb(197, 44, 44) 11px 11px 0px, rgb(202, 45, 45) 12px 12px 0px, rgb(206, 46, 46) 13px 13px 0px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    height: 130px;
    width: 130px;
    line-height: 140px;
    border-radius: 0%;
    text-align: center;
    background-color: rgb(211, 47, 47);
}
.view .mask {
	overflow: auto;
}
/*********************
  Content Area Styles
**********************/
.content {
	margin: 30px auto;
	max-width: 960px;
}

.citation {
	margin-top: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.citation h5 {
	padding-top: 10px;
}

.citation p {
	font-size: small;
}

.two-columns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
/**********************
  Button styles
*********************/
.btn-primary {
	background-color: #78153d;
}
.btn-primary:hover {
	background-color: #add1e8;
}
.caption {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: small;
	overflow: hidden;
}
.popover {
	padding: 10px;
}

.popover-title {
	color: #CA293E;
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 100 !important;
	padding-top: 10px;
	border-bottom: 1px #e1e1e1 solid;
	padding-bottom: 10px;
}
.popover-link {
	color: #CA293E !important;
	font-weight: 400;
}
.card-wrapper .card-up img {
	min-width:200px;
}
.card-block {
	padding: 10px;
}
/*********************
  Input Form Styles
**********************/

.article-activity {
	border: 1px solid lightgray;
	padding: 20px;
	background-color: white; 
}

/*********************
  Input Form Styles
**********************/

#feedbacktext {
      font-size: 24px;
      font-family: 'Lato', sans-serif;
      background-color: white;
 }
 
 /*********************
  Custom Modal CSS
**********************/

#PollOne {
	margin-top: 150px;
}

 /*********************
  Clipped Image CSS
**********************/

.clip-right {
	position: absolute;
	clip: rect(10px, 380px, 900px, 10px)
}
/*********************
  Card styles
*********************/
.news-card {
	padding: 15px;
	background-color: #add1e8;
	margin: 15px 0;
}
/*********************
  Footer CSS
**********************/
footer {
	padding: 10px 0px 0px 0px;
	margin-top: 30px;
	background: #d1004e;
	color: white;
}

footer p {
	margin-left: 30px;
}
.intro-footer {
	padding: 10px 0px 0px 0px;
	background: #d1004e;
	color: white;
	z-index: 10;
}
/***************************
  Fancy Numbered List
***************************/
ol.large-number {
	list-style: none;
}
.large-number {
	counter-reset: my-badass-counter;
}
.large-number li {
	position: relative;
	padding-left: 3em;
	padding-top: .6em;
}
.large-number li:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 3em;
	padding-right: 5px;
}


@media screen and (min-width:376px){
.intro {
	padding-right: 40px;
}
}
@media screen and (min-width:576px){
.intro {
	padding-right: 40px;
}
}

@media screen and (min-width:768px){
.intro {
	padding-right: 10px;
}
}

@media screen and (max-width:992px){
}

@media screen and (min-width:992px){
}
